PORT = 8000

DATABASE = "mongodb+srv://ervnarayan_db_user:o3VQrTUXUNbUGKcF@arcmat-cluster.lkirstc.mongodb.net/"
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587

SESSION_SECRET ="SuperSaiyan2"

SMPT_PASSWORD="gvss yckw kawp fvma"
SMPT_MAIL="vijaytushar915@gmail.com"
SMPT_SERVICE="gmail"
SMPT_HOST="smtp.gmail.com"

JWT_SECRET='ultra_ego'
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_BUCKET_NAME="arcmat"